# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
.idea/

# binaries
apps/taskmasters/backloader/backloader
apps/taskmasters/cron/cron
apps/taskmasters/http/http
apps/taskmasters/responder/responder
apps/taskmasters/retry/retry
apps/workers/noop/noop
apps/workers/hello-world/hello-world

# development and usage debris
bus/nsq/*.dat
apps/taskmasters/cron/config.toml
apps/taskmasters/cron/*.json
apps/taskmasters/retry/config.toml
apps/taskmasters/retry/*.json
apps/taskmasters/backloader/*.json
apps/workers/noop/*.json
apps/workers/hello-world/done.json